#category
{
    /* background:white url(bg.gif) repeat-x left top; */
    background-color: #063786;
    width: 951px;
    height:  30px;
}

#category ul
{
    padding:6px 20px 5px 20px;
    margin:0px;
}

#category ul li
{
    display: inline;
}

/* dark superman blue: #121c28 */
/* superman red: #c3352b */
/* superman yellow: #fdf4a5 */

#category ul li a
{
    color:#FFFFFF;
    background-color:transparent;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    padding:5px 8px;
}

#category ul li a:hover, #category ul li.active a
{
    background: #0a75c5;
    color: #fff;
    text-decoration:none;
}