.glossymenu{

    position: relative;
    padding: 6px 10px 42px 156px;
    /* margin: 0 auto 0 auto; */
    /* background: url(menu_bg.gif) repeat-x; */
    /* background-color: darkblue; */
    /* height: 0px; */

}

.glossymenu li{
float:left;
}

.glossymenu li a{

    /* float: left; */
    display: block;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 15px 0px 15px;
    height: 46px;
    line-height: 48px;
    text-align: left;
    /* cursor: pointer; */
}

.glossymenu li a b{
float: left;
display: block;
padding: 0 24px 0 3px; /*���������� ����� ���������� ����*/
}

.glossymenu li.active a, .glossymenu li a:hover{

    color: #fff;
    background: url(menu_hover_right.gif) no-repeat right top;
    background-position: left;
    border-radius: 63px 67px 0px 0px;
    /* border-right-color: blue; */
    /* border-left: 7px rgb(20, 21, 29); */
    /* border-left-color: rgb(31, 31, 11); */
}

